.zt-paginator{

  font-size: 10px;

  >*{
    display: inline-block;
    margin: 0 3px;
  }

  input{
    width: 25px;
    padding: 2px;
    font-size: 10px;
    text-align: right;
  }

  .zt-pagi-ico{
    cursor: pointer;

    &:hover{
      color: #006600;
    }
  }

}

